<template>
  <div>
    <a-input-search
      v-model:value="searchValue"
      placeholder="请输入搜索内容"
      style="margin-bottom: 16px"
    />
    <a-button @click="showModal()" type="primary" style="margin-bottom: 16px">新增</a-button>
    <a-table :columns="columns" :dataSource="filteredCompanies" rowKey="id">
      <template v-slot:bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'action'">
          <div style="display: flex">
            <a-button @click="onEdit(record)" type="link">编辑</a-button>
            <a-popconfirm
              title="确定要删除这条记录吗？"
              @confirm="onDelete(record)"
              ok-text="是"
              cancel-text="否"
            >
              <a-button type="link" danger>删除</a-button>
            </a-popconfirm>
          </div>
        </template>
      </template>    
    </a-table>
    <a-modal
        :title="titleText"
        v-model:visible.sync="visible"
        ok-text="提交"
        cancel-text="取消"
        @cancel="hideModal"
        @ok="onFinish"
    >
      <a-form :form="ModalForm" @finish="onFinish">
        <a-form-item label="名称" name="name">
          <a-input v-model:value="currenItem.name" />
        </a-form-item>
        <a-form-item label="地址" name="address">
          <a-input v-model:value="currenItem.address" />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { defineComponent, reactive, ref, computed, onMounted } from "vue";
import { message } from "ant-design-vue";
// import request from "@/utils/request";
export default defineComponent({
  name: "CompanyInfo",
  components: {},
  setup() {
    const ModalForm = ref({});
    const titleText = ref("新增")

    const columns = [
      {
        dataIndex: "name",
        title: "名称",
      },
      {
        dataIndex: "address",
        title: "地址",
      },
      {
        dataIndex: "action",
        // slots: { customRender: "action" },
        width: "20%",
      },
    ];

    const companies = reactive([
      { id: 1, name: "AA.", address: "AAAAA" },
      { id: 2, name: "BB", address: "BBBBB" },
      { id: 3, name: "CC", address: "CCCCC" },
    ]);
    const currenItem = reactive({ name: "", address: "" });
    const editing = ref(false);
    const visible = ref(false);
    const searchValue = ref("");

    const fetchCompanies = async () => {
      try {
        // const response = await request.get("/api/companies");
        // companies.splice(0, companies.length, ...response.data);
      } catch (error) {
        message.error("获取列表失败");
      }
    };

    const onFinish = async () => {
      if (!editing.value) {
        // Add new company
        try {
        //   const { data } = await request.post("/api/companies", currenItem);
          companies.push({
            id: companies.length + 1,
            ...currenItem
          });
          console.log(companies)
          message.success("新增成功");
        } catch (error) {
          message.error("新增失败");
        }
      } else {
        // Update existing company
        try {
          // const { data } = await request.put(
          //   `/api/companies/${currenItem.id}`,
          //   currenItem
          // );
          Object.assign(
            companies.find((c) => c.id === currenItem.id),
            currenItem
          );
          message.success("更新成功");
        } catch (error) {
          message.error("更新失败");
        }
      }

      hideModal();
    };

    const onDelete = async (company) => {
      try {
        // await request.delete(`/api/companies/${company.id}`);
        companies.splice(companies.indexOf(company), 1);
        message.success("删除成功");
      } catch (error) {
        message.error("删除成功");
      }
    };

    const showModal = () => { visible.value = true; };

    const onCreate = () => { 
        titleText.value = "新增";
        showModal(); 
    };

    const onEdit = (company) => { 
        editing.value = true; 
        Object.assign(currenItem,company); 
        titleText.value = "编辑"; showModal(); 
    };


    const hideModal = () => {
      editing.value = false;
      visible.value = false;
      currenItem.name = "";
      currenItem.address = "";
    };

    const filteredCompanies = computed(() => {
      return companies.filter((company) => {
        return (
          company.name.toLowerCase().includes(searchValue.value.toLowerCase()) ||
          company.address.toLowerCase().includes(searchValue.value.toLowerCase())
        );
      });
    });

    onMounted(()=>{ fetchCompanies(); })

    return {
      ModalForm,
      columns,
      companies,
      currenItem,
      editing,
      visible,
      searchValue,
      fetchCompanies,
      onFinish,
      onDelete,
      onCreate,
      onEdit,
      showModal,
      hideModal,
      filteredCompanies,
      titleText
    };
  }
});
</script>
